.movie-pages {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}

.ButtonPage {
  width: 50px;
  height: 25px;
  border-radius: 10px;
  background-color: silver;
}

.ButtonPage:hover {
  cursor: pointer;
}

.iconButtonPage {
  color: chocolate;
}
