.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}

.movie {
  margin: 8px;
}

.movie img {
  height: 350px;
  width: 260px;
}

.title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 40px;
  margin-top: 100px;
}
